/* .left {
  grid-column: 1 / 7;
  justify-self: start;
}
.right {
  grid-column: 7 / 13;
  justify-self: end;
  .right a {
    color: #3b82f6;
    text-decoration: none;
    margin: 0 5px;
  }
  .right a:hover {
    text-decoration: underline;
  }
  .version {
    margin-left: 10px;
    font-weight: bold;
  } 
} */
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #151414;
  border-radius: 10px;
}

