<mat-toolbar color="primary" class="header-toolbar">
  <div class="logo-section">
    <mat-icon>group</mat-icon>
    <span>SAMITI</span>
  </div>

  <span class="spacer"></span>
  <div class="search-bar-wrapper">
    <input
      #searchInput
      type="text"
      class="search-input"
      placeholder="Search groups near you..."
      (input)="onSearchGroups($event)"
      [disabled]="!locationName()"
    />
    <button
      *ngIf="searchTerm"
      mat-icon-button
      type="button"
      class="search-clear-btn"
      (click)="clearSearch(searchInput)"
      aria-label="Clear search"
      title="Clear search"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-icon *ngIf="!searchTerm" class="search-icon">search</mat-icon>
  </div>
  <button mat-button class="location-button">
    <mat-icon class="location-icon">location_on</mat-icon>
    <span class="location-text" *ngIf="locationName(); else loading">
      {{ locationName() }}
    </span>
    <ng-template #loading>
      <span class="location-text">Detecting your location...</span>
    </ng-template>
  </button>

  <div class="auth-buttons">
    <button mat-button (click)="openLoginDialog()">
      <mat-icon>login</mat-icon>
      LOGIN
    </button>
  </div>
</mat-toolbar>