.public-container{
  height: 100%;
  /* width: 100%; */
  background-color: #f2cbcb;
}
.groups-container{
  height: 100%;
  width: 50%;
  background-color: #d1f0e4;
}
.programs-container{
  height: 100%;
  width: 50%;
  background-color: #dadff5;
}
.resize-handle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: ew-resize;
  z-index: 10;
}
.resize-grip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 100px;
  background-color: #888;
  border-radius: 2px;
}