/* .container {
  display: grid;
  height: 100vh; 
  grid-template-rows: auto 1fr 40px;

  app-header {
    grid-column: 1 / 13;
    border: 1px solid #d45050;
  }

  main {
    grid-column: 1 / 13;
    border: 1px solid #1e14dd;
    overflow: scroll; 
  }

  app-footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / 13;
    border: 1px solid #40c219;
    font-size: 16px;
    align-items: center;
  }
} */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  row-gap: 5px;
  overflow: hidden;
  main {
    flex: 1; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch;
  }
}