/* .home-container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  padding: 10px;

  .groups-section{
    background-color: #e0afaf;
    grid-column: 1 / 9;
    .groups-section-header{
      display: grid;
      grid-template-columns: repeat(8, 1fr);
    }
    .groups-section-data{

    }
  }

  .events-section{
    background-color: #a3d7a6;
    grid-column: 9 / 13;
    
    .events-section-header{
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      h2{
        grid-column: 1 / 4;
        align-self: center;
      }
      button{
        grid-column: 4 / 5;
        align-self: center;
      }
    }
    .events-section-data{

    }
  }
} */

/* .home-container {
  background-color: #eeeaa3;
  display: flex;
  flex-direction: row;
  align-self: stretch;
  column-gap: 10px;
  flex-grow: 1;
  .groups-section{
    width: 70%;
    overflow: scroll;
    height: 300px;
    background-color: #e0afaf;
    .groups-section-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .groups-section-data{

    }
  }
  .events-section{
    width: 30%;
    background-color: #a3d7a6;
    .events-section-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .events-section-data{

    }
  }
} */

.home-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
  grid-column-gap: 10px;
  .groups-section-header {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    border-bottom: 1px solid #e0e0e0;
    /* background-color: #dbf052; */

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .groups-section-data {
    grid-column: 1 / 9;
    grid-row: 2 / 13;
    /* background-color: #a3d7a6; */
    overflow: auto;
  }
  .three {
    grid-column: 9 / 13;
    grid-row: 1 / 2;
    /* background-color: #e0afaf; */
  }
  .events-section-header {
    grid-column: 9 / 13;
    grid-row: 2 / 3;
    background-color: #ba92c0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .events-section-data {
    grid-column: 9 / 13;
    grid-row: 3 / 13;
    background-color: #6450f7;
    overflow: auto;
  }
}